<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-09-09T16:11:28Z</date>
	<key>WorkspacePath</key>
	<string>/Users/wei-tsung-cheng/Desktop/CI-CD-Course/Retirement13/Retirement13.xcworkspace</string>
</dict>
</plist>
